@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
    font-family: 'Creepster', cursive;
    color: white;
}

body{
    background-image: url(https://img.elo7.com.br/product/zoom/1CED18C/quadro-decorativo-caveira-arte-moderna-com-moldura-021-quadro-justiceiro.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
